
<!-- Jumbotron -->
<div class="card card-image rounded-0" style="background-color: #29539b; background-image: linear-gradient(315deg, #6b0f1a 0%, #b91372 74%);">
  <div class="text-white text-center rgba-stylish-strong py-0 px-4">
  
    <div class="py-0">

      <!-- Content -->
      <h2 class="card-title h2 my-4 py-2">salut mon &#128007;</h2>
      
    </div>
  </div>
</div>
<!-- Jumbotron -->
